/* Place your CSS styles in this file */
body{
    background-color: rgb(27, 27, 27);
}
h1 {
    color: rgb(222, 222, 222);
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-size: x-large;
}
div{
    align-items: center;
    text-align: center;
    display: grid;
    width:100%;
}
pre{
    color: rgb(221, 221, 221);
}
p{
    color: rgb(221, 221, 221);
}
table, td {
	border: 1px solid white;
	border-collapse: collapse;
}
th, tr:nth-child(even), tr:nth-child(odd){
	color: white;
}
th {border-style: groove;}
tr:nth-child(even) {background-color: rgb(50, 50, 50);}
tr:nth-child(odd) {background-color: black;}
a{
    background-color: black;
    text-decoration: none;
    color: rgb(221, 221, 221);
    padding: 10px;
    border: 2px inset rgb(156, 156, 156);
}
.arrayTitle{
    background-color: black;
    color: rgb(221, 221, 221);
    padding: 10px;
    border: 2px inset rgb(156, 156, 156);
}
#submit{
    cursor: pointer;
}
